<div class="profile-block">
  <p class="profile-form__title">{{this.title}}</p>
  <input
    type="{{this.type}}"
    class="profile-form__value"
    value="{{this.value}}"
    name="{{this.formName}}"
    placeholder="{{this.title}}"
  />
</div>